@reference "../app.css";

.industryItem {
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor-default);
  gap: 0.5rem; /* gap-2 = 8px */
  align-items: center;
  padding: 1rem; /* p-4 = 16px */
  text-align: center;
  color: var(--fgColor-muted);
  border: 1px solid var(--borderColor-default);
  border-radius: 0.375rem; /* rounded-md = 6px */
  cursor: pointer;
  transition: all 0.2s;
}

.industryItem:hover {
  border-color: var(--borderColor-accent-emphasis);
}

.industryItem--selected {
  border-color: var(--borderColor-accent-emphasis);
  color: var(--bgColor-accent-emphasis);
}
